*.DS_Store
*__pycache__/
*.pyc
.env
.cursor
.venv
.db
mlruns
mlruns/*
.pytest_cache
# Ignore LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.lof
*.lot
*.out
*.nav
*.snm
*.vrb